$base-fontFamily: 'Lato',
sans-serif;

$base-padding: 20px;

$max-widthSmall: 1300px;
$max-widthLarge: 1400px;
$max-widthBGImg: 2200px;

$font-color: white;

$color-lightRed: #DF524A;
$color-primary: #32be8f;
$color-secondary: #D31027;

$color-bg: #242526;

$color-lightGreen: #76b852